{% load staticfiles %}

{% include "layout.html" %} 

<div class="container">

	<!-- Div lateral -->
	<div>
		
	</div>	

	<section>
		<div>
			<h2>Textos moderados por você<h2>
		</div>
		<div>
			<div class="col-md-4"><label>Título</label></div>
			<div class="col-md-3"><label>Gênero</label></div>
			<div class="col-md-2"><label>Nº Rodadas</label></div>
			<div class="col-md-3"><label>Encontro</label></div>
		</div>
		{% for texto in textos_moderador %}
		<div>
			<div class="col-md-4">{{texto.titulo}}</div>
			<div class="col-md-3">{{texto.genero.nome}}</div>
			<div class="col-md-2">{{texto.numero_rodadas}}</div>
			<div class="col-md-3">{{texto.data_encontro}}</div>
		</div>
	{% endfor %}
	</section>
		
	<section>
		<div>
			<h2>Textos nos quais você é convidado<h2>
		</div>
		<div>
			<div class="col-md-4"><label>Título</label></div>
			<div class="col-md-3"><label>Gênero</label></div>
			<div class="col-md-2"><label>Nº Rodadas</label></div>
			<div class="col-md-3"><label>Encontro</label></div>
		</div>
		{% for texto in textos_convidado %}
		<div>
			<div class="col-md-4">{{texto.titulo}}</div>
			<div class="col-md-3">{{texto.genero.nome}}</div>
			<div class="col-md-2">{{texto.numero_rodadas}}</div>
			<div class="col-md-3">{{texto.data_encontro}}</div>
		</div>
	{% endfor %}
	</section>	

</div>

</body>
</html>