{% load staticfiles %}

{% include "layout.html" %} 

		<div class="container">
			
			<!-- Div lateral -->
			<div>
				
			</div>	
			
			<section>
				<table class="table table-striped"> 
					<caption><h2>Textos moderados por você<h2></caption> 
					<thead> 
						<tr> 
							<th>Título</th> 
							<th>Gênero</th> 
							<th>Nº Rodadas</th> 
							<th>Encontro</th> 
						</tr> 
					</thead> 
					<tbody>
					{% for texto in textos_moderador %}
						<tr> 
							<th scope="row">{{texto.titulo}}</th> 
							<td>{{texto.genero.nome}}</td> 
							<td>{{texto.numero_rodadas}}</td>
							<td>@{{texto.data_encontro}}</td> 
						</tr> 
					{% endfor %}
					</tbody> 
				</table>
					
			</section>
						
			<section>
					<table class="table table-striped"> 
					<caption><h2>Textos nos quais você é convidado<h2></caption> 
					<thead> 
						<tr> 
							<th>Título</th> 
							<th>Gênero</th> 
							<th>Nº Rodadas</th> 
							<th>Encontro</th> 
						</tr> 
					</thead> 
					<tbody>
					{% for texto in textos_convidado %}
						<tr> 
							<th scope="row">{{texto.titulo}}</th> 
							<td>{{texto.genero.nome}}</td> 
							<td>{{texto.numero_rodadas}}</td>
							<td>@{{texto.data_encontro}}</td> 
						</tr> 
					{% endfor %}
					</tbody> 
				</table>
			</section>	
								
		</div>
					
</body>
</html>										